.movie-list-cont {
  background-color: #0f1111;
}
.movie-list-heading {
  display: flex;
  justify-content: center;
  font-size: 3rem;
  font-weight: bold;
  color: white;
  text-decoration: 3px solid red line-through;
  padding: 6rem 0 0 0;
}
.movie-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  row-gap: 3rem;
  justify-content: space-evenly;
  padding: 4rem 0;
}
.movie-card {
  position: relative;
  width: 15rem;
  height: 25rem;
}
.movie-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.add-to-fav-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
}
.add-to-fav-btn span {
  color: white;
}
.add-to-fav-btn > span:active {
  color: red;
  opacity: 0.7;
}
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 0 4rem 0;
}
.prev-page-list {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #aaa;
  color: white;
  width: 3rem;
  height: 2rem;
  border-radius: 1rem;
  margin-right: 1rem;
  cursor: pointer;
}
.next-page-list {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 2rem;
  background-color: #aaa;
  color: white;
  border-radius: 1rem;
  margin-left: 1rem;
}
.page-btns {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 2rem;
  background-color: white;
  border-radius: 1rem;
  cursor: pointer;
}
@media screen and (max-width: 480px) {
  .movie-card {
    width: 69vw;
    height: 10rem;
  }
  .movie-card img {
    object-fit: contain;
  }
}
